<html>
  <head>
  </head>
  <body>
      <div class="half">
        <div class="colorPicker"></div>
      </div>

        <span class="title">Selected Color:</span>
        <div id="values"></div>
        <input id="hexInput"></input>



  </body>
</html>