<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>yShop.cf</title>
    <meta name="description" content="Darmowy itemshop dla serwerów minecraft!"/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Coderthemes"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" href="https://files.yourcraft.pl/mdbv2pro.css">
    <link rel="stylesheet" href="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/css/mdb.min.css" />
    <link rel="stylesheet" href="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/dev/css/new-prism.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="/g.css">
</head>
<body>
    <%- include('./includes/preloader'); -%>
<nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-dark sticky sticky-dark">
    <div class="container-fluid">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-center" id="mySidenav">
                <li class="nav-item active">
                    <a href="/" class="nav-link">Glowna</a>
                </li>
                <li class="nav-item  ">
                    <a href="#galeria" class="nav-link">Galeria</a>
                </li>
                <li class="nav-item  ">
                    <a href="#funkcje" class="nav-link">Funkcje</a>
                </li>
                <li class="nav-item  ">
                    <a href="/shop/3912" class="nav-link">Demo</a>
                </li>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto" id="mySidenav">
            <li class="nav-item  " style="float:right;">
             <% if(status == true){ %>
                <a href="/panel" class="btn btn-primary">Panel</a>
             <% }else{ %>
                <a href="/auth" class="btn btn-primary">Logowanie</a>
            <% } %>
            </li>
            </ul>
        </div>
    </div>
</nav>

<section class="bg-home" style="background-image: url('https://files.yourcraft.pl/wallpaper6.png'); height: 700px; z-index: 0;"
         id="start">
    <div class="container-fluid">
        <div style="margin-left: 400;" class="row">
                        <div class="col-md-12 title">
                            <center>
                                <h1>yShop.cf</h1>
                                <hr />
                                <h3 style="color: white;">Darmowy ItemShop dla serwerow minecraft!</h3>
    
                            </center>
                    </div>
            <div class="col-lg-6 offset-lg-1">

            </div>
            </div>
        </div>
    </div>
</section>
<div id="content">
    <section class="section" id="funkcje">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center">
                    <div class="title text-center mb-5">
                        <h1 class="text-dark">Funkcje</h1>
                    </div>

                </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Vouchery</h3>
                                    <p>Możliwość wygenerowania vouchera z losowym lub własnym kodem</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Suwak do produktów</h3>
                                    <p>Po skonfigurowaniu tej funkcji, gracz podczas kupna będzie mógł wybrać ilość przedmiotu.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Webhook discord</h3>
                                    <p>Po skonfigurowaniu webhooka, bedzie wysyłana informacja o zakupie produktu.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Przerwa techniczna sklepu</h3>
                                    <p>Administrator może właczyć przerwe techniczna dzięki czemu sklep nie będzie dostępny dla innych</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Zmiana wiadomości</h3>
                                    <p>Wszystkie wiadomości w yshop można zmieniać pod swoje potrzeby</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Własny styl CSS</h3>
                                    <p>Dzięki  tej opcji możesz przystosować wygląd sklepu pod własne potrzeby</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Logi płatności</h3>
                                    <p>W yshop rejstrujemy każdą płatnośc oraz próbe płatności.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Własna nawigacja</h3>
                                    <p>Dzięki tej funkcji możesz dostosować navbar pod siebie!</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="galeria" id="galeria">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center">
                    
                    <div class="title text-center mb-5">
                        <h1 class="text-dark">Galeria zdjeć</h1>
                    </div>

                </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <a class="gallery" href="https://files.yourcraft.pl/2021-05-13_09-11.png">
                                        <img src="https://files.yourcraft.pl/2021-05-13_09-11.png" alt="" width="400">
                                    </a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <a class="gallery" href="https://files.yourcraft.pl/2021-05-13_09-13.png">
                                        <img src="https://files.yourcraft.pl/2021-05-13_09-13.png" alt="" width="400">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <a class="gallery" href="https://files.yourcraft.pl/2021-05-13_09-14.png">
                                        <img src="https://files.yourcraft.pl/2021-05-13_09-14.png" alt="" width="400">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <a class="gallery" href="https://files.yourcraft.pl/2021-05-13_09-16.png">
                                        <img src="https://files.yourcraft.pl/2021-05-13_09-16.png" alt="" width="400">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="section" id="funkcje">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center">
                    <div class="title text-center mb-5">
                        <h1 class="text-dark">Statystyki</h1>
                    </div>

                </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Sklepy</h3>
                                    <h1 style="color: black;"><%= stat %></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Produkty</h3>
                                    <h1 style="color: black;"><%= stat1 %></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3>Użytkownicy</h3>
                                    <h1 style="color: black;"><%= stat2 %></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="/tesetwqt" method="POST">
                        <button type="submit">ttt</button>
                    </form>
            </div>
        </div>
    </section>
    </body>
    </html>
</div>
<div class="footer-alt py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <p class="mb-0">2021 © yShop.cf</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/js/mdb.min.js"></script>
<script src="/jquery.min.js"></script>
<script src="/main.js"></script>
<script src="http://blog.compsoul.pl/uploads/js/comp.js"></script>
<script src="http://blog.compsoul.pl/uploads/js/gallery.js"></script>
<script>
  (function ($) {
    $(".gallery").gallery();
  })(Comp);
</script>
</body>
</html>