<%- include('../includes/sidebar'); -%>
<main style="margin-top: 58px">
  <div class="container pt-4">
    <br>
    <center>
      <h1>Dodaj produkt</h1>
    </center>
    <br>
    <section>
      <div class="row">
        <form action="/panel/manage/<%= id %>/addproduct" method="post" >
          <div class="form-outline mb-4">
            <input type="text" id="form1Example1" class="form-control" name="name" required/>
            <label class="form-label" for="form1Example1">Nazwa uslugi</label>
          </div>
          <div class="form-outline mb-4">
              <input type="number" id="form1Example1" class="form-control" name="price" required/>
              <label class="form-label" for="form1Example1">Cena</label>
            </div>
            <div class="form-outline mb-4">
              <input type="url" id="form1Example1" class="form-control" name="image" required />
              <label class="form-label" for="form1Example1">URL zdjecia</label>
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="form1Example1" class="form-control" name="lore" required/>
              <label class="form-label" for="form1Example1">Opis</label>
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="form1Example1" class="form-control" name="cmd" required />
              <label class="form-label" for="form1Example1">Komenda</label>
            </div>
            <div class="form-outline mb-4">
              <label for="type">Wybierz typ:</label>
              <select name="type" id="type">
                <option value="suwak">z suwakiem</option>
                <option value="bezsuw">bez suwaka</option>
              </select>
            </div>
          <button type="submit" class="btn btn-primary btn-block">Dodaj produkt</button>
      </form>
      </div>
    </section>
  </div>
</main>
<%- include('../includes/footer'); -%>
</body>
</html>