<%- include('../includes/sidebar1'); -%>
<main style="margin-top: 58px">
  <div class="container pt-4">
    <br>
    <section>
      <div class="row">
          <div class="text-center py-5">
            <form action="/panel" method="post" >
                <div class="form-outline mb-4">
                  <input type="text" id="form1Example1" class="form-control" name="title" required />
                  <label class="form-label" for="form1Example1">Nazwa sklepu</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form1Example1" class="form-control" name="serverip" required/>
                  <label class="form-label" for="form1Example1">IP serwera</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="number" id="form1Example1" class="form-control" name="serverport" required />
                  <label class="form-label" for="form1Example1">Port serwera</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="number" id="form1Example1" class="form-control" name="rconport" required/>
                  <label class="form-label" for="form1Example1">Port RCON</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="form1Example1" class="form-control" name="rconpassword" required/>
                  <label class="form-label" for="form1Example1">Haslo RCON</label>
                </div>
                <div class="text-center">
                  <a class="txt2" href="#">	
                                  <%- captcha %>
                  </a>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Dodaj sklep</button>
            </form>
          </div>
      </div>
    </section>
  </div>
</main>
<%- include('../includes/footer'); -%>
</body>
</html>