<%- include('includes/sidebar'); -%>

    <div class="mdb-page-content text-center page-intro bg-light">
      <div class="text-center py-5">
        <% rows.forEach(function(rows) { %>
          <h1>Sklep: <%= rows.title %></h1>
          <% }); %>
        <div class="card" style="width: 38rem; margin-left: 14cm; margin-top: 6cm;">
            <div class="card-body">
                <table class="table" >
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ilosc produktow</th>
                        <th scope="col">Ilosc voucherow</th>
                        <th scope="col">Akcja</th>

                      </tr>
                    </thead>
                    <tbody>
          
                        <% rows.forEach(function(rows) { %>
                          <tr>
                          <td>1</td>
                          <td><%= rows.title %></td>
                          <td><%= rows.id %></td>
                          <% if (rows.status == 'true'){ %>
                            <td><span class="badge bg-success">Aktywny</span></td>
                            <% }else{ %>
                              <td><span class="badge bg-danger">Wygasl</span></td>
                              <% } %>
                              <td>2</td>
                              <td>0</td>
                              <!--- <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button> </td> -->
                              <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
                        </tr>
                            <% }); %>
                    </tbody>
                  </table>
            </div>
          </div>
        <button id="toggler"class="btn btn-dark mt-5"data-toggle="sidenav"data-target="#full-screen-example">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://files.yourcraft.pl/mdbv2pro.js"></script>
    <script type="text/javascript" src="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/js/mdb.min.js"></script>
  </body>
</html>